.Navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Navigation a {
    padding: 5px;
    margin: 5px;
}

.Navigation a.active {
    border: 1px solid black;
    border-radius: 5px;
    color: darkseagreen;
}
