.wrapper {
  padding: 20px 30px;
}

.header {
  color:chartreuse;
}

.todo {
  border: 1px solid grey;
  padding: 5px;
  margin-bottom: 2px;
}

.date {
  color: red;
}

.invalid {
  border: 3px solid red;
}

