.App {
  background-color: burlywood;
}

.Comment {
  border: 1px black outset;
  width: fit-content;
  font-size: 25px;
}

.Author {
  font-weight: bold;
  font-style: oblique;
}

.Content {
  border: black 5mm ;
}