/* Template styling */

html, body {
  margin: 0;
  color: white;
}

body {
  background: url('./images/dark-linen.png') repeat;
  font-family: 'Roboto', sans-serif;
}

div#app {
  display: grid;
  max-width: 1400px;
  margin: 0 auto;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas: 
    'header header header'
    'menu menu menu'
    'container container container'
    'footer footer footer'
  ;
  min-height: 100vh;
}

header {
  grid-area: header;
  height: 200px;
  background: url('./images/banner-top.png');
}

nav {
  grid-area: menu;
  height: 60px;
  background: url('./images//banner-bottom.png');
  font-size: 1.75em;
  line-height: 60px;
  padding: 20px;
  color: white;
  display: flex;
}

nav a {
  color: rgb(95, 191, 255);
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  color: rgb(198, 115, 247);
}

#container {
  grid-area: container;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: white;
}

footer {
  grid-area: footer;
  padding: 10px;
  text-align: center;
  color: #ccc;
}

.hidden {
  display: none;
}

a.active {
  color: white;
  font-weight: bold;
}

input#search {
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border: 1px solid gray;
  border-radius: 4px;
  height: 24px;
  flex: 1 0;
  margin: auto;
}

span.favorite {
  padding-left: 10px;
  cursor: pointer;
}

span.favorite.active {
  color: rgb(255, 0, 149);
}

span.favorite:hover {
  color:rgb(187, 135, 255)
}

/* End template styling */



/* Add your styles below */


/* Homepage styles */


#home {
  padding: 50px;
}

#home h1 {
  text-align: center;
}

#home div.content {
  max-width: 500px;
  margin: 50px auto;
  font-size: 1.5em;
}

/* End homepage styles */


/* Categories styles */

#categories {
  padding: 50px;
}

#categories h1 {
  color: rgb(187, 135, 255);
}

#categories div.content {
  font-size: 1.25em;
}

div.category {
  display: inline-block;
  width: 20%;
  margin: 1%;
  padding: 1%;
  border: 1px solid rgb(97, 71, 97);
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  text-align: center;
}

#categories button {
  font-size: 20px;
  padding: 5px;
  color: rgb(187, 135, 255);
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  cursor: pointer;
}

#categories button:hover {
  color: white;
}

/* End categories styles */


/* Movies styles */

#movies {
  padding: 50px;
}

#movies h1 {
  color: rgb(187, 135, 255);
}

#movies div.content {
  font-size: 1.25em;
  text-align: center;
}

div.movie {
  display: inline-block;
  width: 20%;
  margin: 1%;
  padding: 1%;
  border: 1px solid rgb(97, 71, 97);
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  text-align: center;
}

div.movie h1 {
  font-size: 1.5em;
  margin: 5px;
}

div.movie h2 {
  font-size: 1.25em;
  margin: 5px;
}

div.movie img {
  width: 100%;
  margin-bottom: 20px;
}

#movies button {
  font-size: 20px;
  padding: 5px;
  color: rgb(222, 113, 255);
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  cursor: pointer;
}

#movies button:hover {
  color: white;
}

/* Single movie styles */

div.movie-detailed {
  padding: 20px;
  border: 1px solid rgb(97, 71, 97);
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  display: table;
  width: 100%;
}

div.movie-detailed p {
  font-size: 1.25em;
  color: #eee;
}

div.movie-detailed div.poster {
  width: 30%;
  display: table-cell;
  padding: 20px;
  margin: 10px;
  border-right: 1px solid rgb(112, 112, 112);
}

div.movie-detailed div.poster img {
  width: 100%;
}

div.movie-detailed div.movie-info {
  padding: 20px;
  margin: 10px;
  vertical-align: top;
  display: table-cell;
  text-align: left;
  width: 70%;
  /* height: 100%; */
}

/* End movies styles */


/* About styles */

#about {
  padding: 50px;
}


#about h1 {
  color: rgb(187, 135, 255);
  margin-bottom: 50px;
}

#about h2 {
  color: rgb(229, 210, 255);
}

/* End about styles */