.wrapper {
  padding: 20px 30px;
}

.header {
  color: blueviolet;
}

.todo {
  border: 1px solid black;
  padding: 5px;
  margin-bottom: 2px;
}

.date {
  padding: 5px;
}
.invalid {
  border: 1px solid red;
}