.MovieDetails {
    margin: 5px;
    padding: 5px;
    width: 25%;
    height: 600px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 1px;
    box-shadow: gray 1px 1px;
}

.MovieDetails img {
    border: 2px solid black;
    min-width: 100%;
    min-height: 70%;
}

.MovieDetails:hover {
    box-shadow: gray 5px 5px 5px 10px;
}
