.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Todo-container {
  margin: 0 auto;
  max-width: 600px;;
}

#create-todo-btn {
  margin: 0 auto;
  display: block;
  padding: 5px;
  font-size: 16px;
}

button.button {
  margin: 10px;
  padding: 5px;
}

button.cancel {
  background-color: rgb(255, 167, 167);
  border: 1px solid black;
}

button.cancel:hover {
  background-color: rgb(255, 131, 131);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
